torch==2.4.0
gymnasium==1.0.0
numpy<1.25,>=1.21
Cython>0.27,<3
PyYAML==6.0.1
rl_zoo3==2.7.0
stable_baselines3==2.7.1
sb3_contrib==2.7.1
# wandb==0.16.0
mujoco
minigrid==2.3.1
opencv-python==4.7.0.72
gymnasium[atari]==1.0.0
gymnasium[accept-rom-license]==1.0.0
gymnasium[box2d]==1.0.0
gymnasium[mujoco]==1.0.0
citylearn
tensorboard==2.15.1
--index-url https://test.pypi.org/simple/
--extra-index-url https://pypi.org/simple/
--pre
gbrl==1.1.7.dev9
