gymnasium==0.29.1
numpy<1.25,>=1.21
Cython>0.27,<3
PyYAML==6.0.1
rl_zoo3==2.1.0
stable_baselines3==2.1.0
wandb==0.16.0
torch>=2.0.0
mujoco-py==2.1.2.14
minigrid==2.3.1
gymnasium[atari]
gymnasium[accept-rom-license]
gymnasium[box2d]
gymnasium[mujoco]
opencv-python==4.7.0.72
tensorboard==2.15.1
--index-url https://test.pypi.org/simple/
--extra-index-url https://pypi.org/simple/
--pre
gbrl==1.1.0.dev12
